@import 'utils';

.article {
    padding: 2rem;
    background-color: $secondary;
    color: $primary;
}

.article-title-container {
    h1 {
        font-size: 4rem;
        font-weight: 700;
    }
}

.paragraph-heading {
    margin: 2rem 0;
    h2 {
        font-size: 2rem;
        font-weight: 700;
    }
}

