@import 'utils';

*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include wh100;
    background-color: $dark;
    font-family: $ral;
    color: $primary;
}

.app {
    @include wh100;
    @include grid1;
}

@import 'Header';
@import 'Page';
@import 'Article';
@import 'StudentDashboard';
@import 'StudentProfile';
@import 'EditProfile';
@import 'AcademicHistory';
@import 'StudentNotifications';
@import 'Subjects';
@import 'Assignments';
@import 'Grades';
@import 'Tablet';
@import 'Mobile';